/* Scrollbar */
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: rgb(245, 245, 245);
}
::-webkit-scrollbar-thumb {
    background: rgb(190, 190, 190);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(170, 170, 170);
}

@font-face {
    font-family: BcomWeb-Light;
    src: url("BcomWeb-Light.otf");
}

@font-face {
    font-family: BcomWeb-SemiBold;
    src: url("BcomWeb-SemiBold.otf");
}

body {
    padding-bottom: 20px;
    padding-top: 50px;
    font-family: BcomWeb-Light;
}

.HeaderHeight{
    height: 50px;
    line-height: 50px;
}
.HeaderBackground{
    background-color: #000000;
}

.HeaderIcon{
    height: 25px;
    padding-bottom: 5px;
}

.TwoColumnWidth{
    width: 30%;
}
.TwoColumnPaddingLeft{
    padding-left: 3%;
}

/**
BCom Buttons colors
 */
.BCButtonBlue {
    background-color: #00BEE6;
}
.BCButtonBlue:hover {
    background-color: #00ABCF;
}
.BCButtonBlue:focus {
    background-color: #00ABCF;
}
.BCLinkBlue {
    color: #00BEE6;
}
.BCLinkBlue:hover {
    color: #00ABCF;
}
.BCLinkBlue:focus {
    color: #00ABCF;
}

.FileEntryName {
    text-align: left;
    flex: auto;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
}

.FileEntrySize {
    text-align: center;
    flex: 0 1 auto;
    color: lightgray;
    padding-left: 5px;
}

.FileEntryDelete {
    flex: 0 0 45px;
    text-align: center;
    padding-right: 5px;
}

/*
@media (prefers-color-scheme: dark) {
}
@font-face {
    font-family: iransans;
    src: url(iransans.ttf);
}
body {
    font-family: iransans;
}
*/
CenteredItems {
}
@media only screen and (max-width: 500px) {
    .CenteredItems {
        width: 90% !important;
        margin-left: 5% !important;
    }
}
@media only screen and (min-width: 500px) {
    .CenteredItems {
        width: 450px !important;
        margin-left: calc(50% - 225px); !important;
    }
}

/*
BCOM Colors and BCOM Bachground Colors
 */
.BCCBlue {
    color: #00BEE6;
}
.BCBCBlue {
    background-color: #00BEE6;
}
.BCCLightGray {
    color: #8C8C8C;
}
.BCBCLightGray {
    background-color: #8C8C8C;
}
.BCCDarkGray {
    color: #505050;
}
.BCBCDarkGray {
    background-color: #505050;
}
.BCCRed {
    color: #FF5050;
}
.BCBCRed {
    background-color: #FF5050;
}
.BCCGreen {
    color: #00CD78;
}
.BCBCGreen {
    background-color: #00CD78;
}
.BCCYellow {
    color: #FFB400;
}
.BCBCYellow {
    background-color: #FFB400;
}
.BCCPurple {
    color: #AA64FF;
}
.BCBCPurple {
    background-color: #AA64FF;
}
