/* Scrollbar */
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: rgb(245, 245, 245);
}
::-webkit-scrollbar-thumb {
    background: rgb(190, 190, 190);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(170, 170, 170);
}

body {
    padding-bottom: 20px;
    padding-top: 50px;
}

.HeaderHeight{
    height: 50px;
    line-height: 50px;
}

.TwoColumnWidth{
    width: 30%;
}
.TwoColumnPaddingLeft{
    padding-left: 3%;
}

.FileEntryName {
    text-align: left;
    flex: auto;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
}

.FileEntrySize {
    text-align: center;
    flex: 0 1 auto;
    color: lightgray;
    padding-left: 5px;
}

.FileEntryDelete {
    flex: 0 0 45px;
    text-align: center;
    padding-right: 5px;
}

/*
@media (prefers-color-scheme: dark) {
}
@font-face {
    font-family: iransans;
    src: url(iransans.ttf);
}
body {
    font-family: iransans;
}
*/
CenteredItems {
}
@media only screen and (max-width: 500px) {
    .CenteredItems {
        width: 90% !important;
        margin-left: 5% !important;
    }
}
@media only screen and (min-width: 500px) {
    .CenteredItems {
        width: 450px !important;
        margin-left: calc(50% - 225px); !important;
    }
}

